#index-page {
	background: url("../images/byall-0.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: transparent !important;
	/* important used here for demo */
}

.navbar {
	height: 85px;
}

.footer {
	position: sticky;
	bottom: 0;
	width: 100%;
	height: 45px;
	clear: both;
}

/*index page*/

#artist-first {
	text-align: left;
	font-size: 40px;
	/*background: -webkit-linear-gradient(#F6FCFA, #827F75);*/
	/*-webkit-background-clip: text;*/
	/*-webkit-text-fill-color: transparent;*/
	color: #F6FCFA;
	text-shadow: 2px 2px #827F75;
	margin-top: 10.30em;
	/*margin-bottom: 2em;*/
}

#artist-last {
	text-align: right;
	font-size: 40px;
	/*background: -webkit-linear-gradient(#F6FCFA, #827F75);*/
	/*-webkit-background-clip: text;*/
	/*-webkit-text-fill-color: transparent;*/
	text-shadow: 2px 2px #827F75;
	margin-top: 10.30em;
	/*margin-bottom: 2em;*/
	color: #F6FCFA;
}

.jumbotron {
	background-color: transparent !important;
}

/*gallery page*/

#gallery {
	text-align: center;
	margin-top: 4em;
	margin-bottom: 3em;
}

.gallery-head {
	font-size: 55px;
}

/*bio page*/

#bio {
	text-align: center;
	margin-top: 4em;
	margin-bottom: 3em;
}

.bio-head {
	font-size: 55px;
}

/*contact page*/

#contact {
	text-align: center;
	margin-top: 4em;
	margin-bottom: 3em;
}

.contact-head {
	font-size: 55px;
}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	#artist-first {
		font-size: 60px;
		margin-top: 6em;
		color: #F6FCFA;
		text-shadow: 2px 2px #827F75;
	}

	#artist-last {
		font-size: 60px;
		margin-top: 6em;
		color: #F6FCFA;
		text-shadow: 2px 2px #827F75;
	}
}

/*Extra large devices (large desktops, 2400px and up)*/
@media (min-width: 1200px) {
	#artist-first {
		font-size: 75px;
		margin-top: 5em;
		margin-bottom: 0.3em;
		color: #F6FCFA;
		text-shadow: 2px 2px #827F75;
	}

	#artist-last {
		margin-top: 5em;
		margin-bottom: 0.3em;
		font-size: 75px;
		color: #F6FCFA;
		text-shadow: 2px 2px #827F75;
	}
}